.table-of-contents {
    display: table;
    padding: 1em 1em 1em 2em;
    border: 1px solid $primary;
    background-color: $gray-400;
    font-size: $font-size-xs !important;

    li::marker {
        text-indent: 1rem;
    }

    li > p {
        margin-bottom: .1rem;

        a {
            font-weight: 600;
        }
    }

}
